<HTML>
  <HEAD>
    <TITLE>First Bank of O'Reilly</TITLE>
  </HEAD>
  <BODY>
    <CENTER><img src="atm_machine_logged_out.jpg" alt="Logged Out Successfully" ></CENTER>

  <BR>
  <H2>Logged Out Successfully</H2>
  <BR>
  
  <CENTER><P><TR><TD><a href="atm_login.cgi">Login to ATM Machine</a></TD></TR></P></CENTER>

    
  </BODY>
</HTML>
