<HTML>
  <HEAD>
    <TITLE>First Bank of O'Reilly - ATM Login Results</TITLE>
  </HEAD>
  <BODY>
    <CENTER><img src="atm_machine_main_options.jpg" alt="ATM Machine Login" ></CENTER>

    <BR></BR>
    
    <B><TR><TD><P>Customer Functions:</TD><TR></P></B>
    <P><TR><TD><a href="atm_choose.cgi">Credit or Debit Current Account - Timed</a></TD></TR></P>
    <P><TR><TD><a href="atm_choose_not_timed.cgi">Credit or Debit Current Account - Immediate</a></TD></TR></P>
    <P><TR><TD><a href="atm_transactions.cgi">Account Transactions</a></TD></TR></P>
    <P><TR><TD><a href="atm_logout.cgi">Logout from Current Session</a></TD></TR></P>
    
    <BR></BR>
    <BR></BR>
    
    <B><P>Bank Teller Functions:</P></B>
    <P><a href="atm_new_account.cgi">Create an Account</a></P>
    <P><TR><TD><a href="atm_transfer.cgi">Transfer Between Accounts</a></TD></TR></P>
    <P><TR><TD><a href="atm_select.cgi">Credit or Debit Accounts</a></TD></TR></P>
    <P><TR><TD><a href="atm_logout.cgi">Logout from Current Session</a></TD></TR></P>

    </BODY>
</HTML>