<HTML>
  <HEAD>
    <TITLE>First Bank of O'Reilly</TITLE>
  </HEAD>
  <BODY>
    <CENTER><img src="atm_transaction_completed.jpg" alt="Credit/Debit" ></CENTER>
    
    <P>
    <H3>A <TMPL_VAR NAME="type"> of <TMPL_VAR NAME="amount">
      has been transacted
    </P>
    </H3>
        
    <BR>
    <A HREF="atm_choose.cgi?account_number=<TMPL_VAR NAME=account_number>">
    Another Credit/Debit Transaction</A>
    <BR>
        <A HREF="atm_login_confirmation.cgi">
    Home</A>

  </BODY>
</HTML>





 