<HTML>
  <HEAD>
    <TITLE>First Bank of O'Reilly - New Account</TITLE>
  </HEAD>


  <BODY>
  <CENTER><img src="atm_machine_create_account.jpg" alt="Create an Account" ></CENTER>

    <FORM ACTION="atm_create_account.cgi" METHOD="POST">

    <BR></BR>
    <BR></BR>
    
     <TABLE>
     <TR><TD>First Name:</TD><TD> <INPUT NAME="first_name" TYPE="text"></TD></TR>
     <TR><TD>Last Name:</TD><TD> <INPUT NAME="last_name" TYPE="text"></TD></TR>
     <TR><TD>Password Name:</TD><TD> <INPUT NAME="password" TYPE="text"></TD></TR>
    </TABLE>

      <INPUT TYPE="SUBMIT">
    </FORM>
    
    <CENTER><P><TR><TD><a href="atm_login_confirmation.cgi">Home</a></TD></TR></P></CENTER>
    
  </BODY>
</HTML>

 
