<HTML>
  <HEAD>
    <TITLE>First Bank of O'Reilly - ATM Login</TITLE>
  </HEAD>
  <BODY>
    <CENTER><img src="atm_machine_login.jpg" alt="ATM Machine Login" ></CENTER>
    <FORM ACTION="atm_login_confirmation.cgi" METHOD="POST">

     <H3>Please login below:</H3>
     <H4>(Note: test account is account: 10017 password: TikiHeaven777 </H4>
     
     <TABLE>
     <TR><TD>Account :</TD><TD> <INPUT NAME="account_number" TYPE="text"></TD></TR>
     <TR><TD>Password:</TD><TD> <INPUT NAME="password" TYPE="text"></TD></TR>
    </TABLE>

      <INPUT TYPE="SUBMIT">
    </FORM>
  </BODY>
</HTML>