<HTML>
  <HEAD>
    <TITLE>First Bank of O'Reilly</TITLE>
  </HEAD>
  <BODY>
    <CENTER><img src="atm_machine_creditdebit.jpg" alt="Credit/Debit" ></CENTER>

    <BR></BR>
    <BR></BR>

   <FORM ACTION="atm_timed_not.cgi" METHOD="POST">
    <INPUT TYPE="hidden" NAME="account_number" VALUE="<TMPL_VAR NAME=account_number>">
    <TABLE>
     <TR><TD>Amount:</TD><TD> <INPUT NAME="amount" TYPE="text"></TD></TR>
     <TR><TD>Type:</TD><TD>
      <SELECT NAME="type">
       <OPTION VALUE="credit">Credit</OPTION>
       <OPTION VALUE="debit">Debit</OPTION>
      </SELECT></TD></TR>
    </TABLE>
    <INPUT TYPE="submit" VALUE="Submit">
   </FORM>
   
    <BR></BR>
    <BR></BR>


   <TABLE BORDER="1">
    <TR><TD>Account number</TD><TD><TMPL_VAR NAME="account_number"></TD></TR>
    <TR><TD>Owner(s)</TD><TD><TMPL_VAR NAME="owners"></TD></TR>
    <TR><TD>Balance</TD><TD><TMPL_VAR NAME="Balance"></TD></TR>
   </TABLE>
   <TABLE BORDER="1">
    <TR><TH>Date</TH><TH>What</TH><TH>Amount</TH><TH>Ending Balance</TH></TR>
    <TMPL_LOOP NAME="transaction_loop">
     <TR>
      <TD><TMPL_VAR NAME="transaction_date"></TD><TD><TMPL_VAR NAME="type"></TD>
      <TD><TMPL_VAR NAME="amount"></TD><TD><TMPL_VAR NAME="new_balance"></TD>
     </TR>
    </TMPL_LOOP>
   </TABLE>

   <P><TR><TD><a href="atm_login_confirmation.cgi">Home</a></TD></TR></P>



  </BODY>
</HTML>