<HTML>
  <HEAD>
    <TITLE>First Bank of O'Reilly - Account Created</TITLE>
  </HEAD>
  <BODY>
    <CENTER><img src="atm_machine_account_created.jpg" alt="Credit/Debit" ></CENTER>
    <H2>Account: <TMPL_VAR NAME="account_number"> created Successfully</H2>
    
    <TABLE>
    <TR><TD>First Name:</TD><TD><TMPL_VAR NAME="first_name"></TD></TR>
    <TR><TD>Last Name:</TD><TD><TMPL_VAR NAME="last_name"></TD></TR>
    <TR><TD>Account Number:</TD><TD><TMPL_VAR NAME="account_number"></TD></TR>
    </TABLE>
    <BR><BR>
        
    <CENTER><P><TR><TD><a href="atm_login_confirmation.cgi">Home</a></TD></TR></P></CENTER>

  </BODY>
</HTML>

 