<HTML>
  <HEAD>
  <TITLE>First Bank of O'Reilly</TITLE>
  </HEAD>
  <BODY>
    <H2>First Bank of O'Reilly</H2>
    <P>Automated Teller Machine</P>
    <TABLE BORDER="1">
    <TR><TD>Account number</TD><TD><TMPL_VAR NAME="account_number"></TD></TR>
    <TR><TD>Owner(s)</TD><TD><TMPL_VAR NAME="owners"></TD></TR>
    <TR><TD>Balance</TD><TD><TMPL_VAR NAME="Balance"></TD></TR>
    <TMPL_LOOP NAME="transactions">
      <TR><TD>Date:</TD><TD><TMPL_VAR NAME="date"></TD></TD>
      <TR><TD>Type:</TD><TD><TMPL_VAR NAME="type"></TD></TD>
      <TR><TD>Amount:</TD><TD><TMPL_VAR NAME="amount"></TD></TD>
      <TR><TD>Ending Balance:</TD><TD><TMPL_VAR NAME="ending_balance"></TD></TD>
      </TMPL_LOOP>
    </TABLE>
    </BODY>
</HTML>
